.accordion {
    border: 1px solid #061B3A;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 16px;
    transition: all 0.3s ease;
}

.accordion.expanded {
    border-color: #061B3A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    background-color: #061B3A;
    color: #EFF2F6;
}


.accordion-content {
    padding: 16px;
    background-color: #061B3A;
    color: #FFFFFF;
    border-top: 1px solid #061B3A;
    font-size: 0.875rem;
}

.accordion-content p {
    margin: 0;
}