.pagination {
    display: flex;
    width: 100%;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
  }
  
  .pagination button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--text-primary-color);
    border: 1px solid transparent;
    background: transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border-radius: 50% ;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.875rem;
  }
  
  .pagination button.active {
    background: var(--button-tertiary-color);
    border-color: var(--button-tertiary-color);
  }
  
  .pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  