.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .navbar {
    height: 60px;
    background-color: #02122B;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content {
    display: flex;
    flex: 1;
  }
  
  .left-section {
    width: 35%;
    background-color: #02122B;
    border-right: 1px solid #1B3F73;
    border-top: 1px solid #1B3F73;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .right-section {
    width: 65%;
    background-color: #02122B;
    border-top: 1px solid #1B3F73;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar, .left-section, .right-section {
    color: #D1D5DB;
  }
  