.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--background-primary-color);
    color: var(--text-primary-color);
    scrollbar-width: thin;
    scrollbar-color: var(--background-primary-color) var(--background-primary-color); 
  }
  
  .navbar {
    position: sticky;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--border-normal-color);
  }
  
  .content {
    display: flex;
    justify-content: center;
    flex: 1;
    overflow: hidden;
  }
  
  .left-section {
    width: 350px;
    border-right: 1px solid var(--border-normal-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    overflow-y: auto;
  }
  
  .right-section {
    flex: 1;
    padding: 2rem;
    overflow-x: auto;
  }

  .only-section {
    display: flex;
    height: calc(100vh - 60px);
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;

    flex: 1;
    flex-direction: column;
    align-items: flex-start;

    gap: 16px;
    overflow: scroll;
  }
  
  .navbar, .left-section, .right-section {
    color: var(--text-light-color);
  } 
  