.headers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 12px;

    .status {
        color: #15D7AC;
        font-size: 0.75rem;
        font-weight: 600;
        line-height: 1rem;
    }

    h3,
    h4 {
        margin: 0
    }

    h3 {
        font-size: 1rem;
        font-weight: 500;
        color: #EFF2F6;
    }

    h4 {
        font-size: 0.875rem;
        font-weight: 400;
        color: #CBD7E9;
    }

}

.policy {
    display: flex;
    justify-content: space-between;
    background-color: #11284A;
    margin-bottom: 4px;
    border-radius: 8px;
    padding: 8px 12px;

    .group {
        display: flex;
        align-items: center
    }
}