.summary-content {
    padding: 8px;
    border: 1px solid var(--border-light-color);
    border-radius: 8px;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}