.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: #11284A;
    color: #eee;
    /* // todo remove */
    border-radius: 16px;
    padding: 16px;
    max-width: 451px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.modal-header h2 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
    color: #F0F4FC;
    margin: 0;
    padding-bottom: 16px;
}

.modal-header input {
    width: 92%;
    padding: 16px;
    color: #8295AE;
    font-weight: 500;
    font-size: 1rem;
    border: 1px solid #11284A;
    background-color: #061B3A;
    border-radius: 12px;
}

.modal-options {
    list-style: none;
    padding: 0;
    margin: 16px 0 0;
    max-height: 200px;
    overflow-y: auto;
}

.modal-option {
    display: flex;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.modal-option:hover {
    background: #FFFFFF0A;
}

.modal-option:focus {
    background: #FFFFFF14;
    border: 1px solid #4879FD;
    outline: none
}

.modal-no-options {
    padding: 8px;
    color: #888;
}

.modal-close {
    position: absolute;
}