.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    border-radius: 99px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.primary {
    background-color: var(--button-tertiary-color);
    color: var(--text-primary-color);
}

.primary:hover {
    background-color: var(--button-tertiary-hover-color);
}

.secondary {
    background-color: var(--button-secondary-color);
    color: var(--text-primary-color);
}

.secondary:hover {
    background-color: var(--button-secondary-hover-color);
}

.tertiary {
    background: none;
    color: var(--text-primary-color);
    border: none;
    padding: 0;
}

.small {
    padding: 0.75rem 1.5rem;
}

.medium {
    padding: 0.875rem 2rem;
}

.mini {
    padding: 0.375rem 0.75rem;
}