.policy-table {
    min-width: 100%;
    margin-top: 20px;
    border-radius: 8px;
    border-collapse: collapse;
    overflow: hidden;

    thead {
        background-color: var(--background-tertiary-color);
    }

    tbody {
        background-color: var(--background-secondary-color);
    }

    th {
        text-align: left; 
        padding: 12px 16px;
        color: var(--text-light-color);


        &:last-child {
            text-align: right; 
        }
    }

    td {
        padding: 12px 16px;

        &:last-child {
            display: flex;
            justify-content: flex-end;
        }
    }
}